
<app-breadcrumb></app-breadcrumb>
<mat-form-field>
  <mat-label>Leagues</mat-label>
  <mat-select #select (selectionChange)="getTeams(select.value)">
    <mat-option value="2002">Bundesliga (GERMANY)</mat-option>
    <mat-option value="2021">Premier League (ENGLAND)</mat-option>
    <mat-option value="2019">Serie A (ITALY)</mat-option>
    <mat-option value="2014">Primera Division (SPAIN)</mat-option>
  </mat-select>
</mat-form-field>
<div class="card-row" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">
  <!-- <div *ngFor="let team of teams" fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="100%">
    <app-card
      [title]='team.name'
      routerLink='/teams/{{team.id}}'
      [subtitle]='team.founded'
      [subtitle2]='team.venue'
      [subtitleLabel]='"Founded"'
      [subtitleLabel1]='"Stadium"'
      [imgSrcAvatar]='team.crestUrl'>
    </app-card>
  </div> -->
  <!-- use without custom component -->
  <ng-container *ngFor="let team of teams">
    <mat-card routerLink='/teams/{{team.id}}'  class="team-card" fxFlex="0 1 calc(33.3% - 32px)"
      fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
      <mat-card-header>
        <img mat-card-avatar [src]="team.crestUrl" alt="Photo of {{team.name}}">
        <mat-card-title>{{team.name}}</mat-card-title>
        <mat-card-subtitle><b>Founded:</b> {{team.founded}}</mat-card-subtitle>
        <mat-card-subtitle><b>Stadium:</b> {{team.venue}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </ng-container>
</div>

