.matero-branding span.matero-branding-name {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: .2rem;
  white-space: pre;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image:
    repeating-linear-gradient(to right,
      #f44336,
      #9c27b0,
      #3f51b5,
      #03a9f4,
      #009688,
      #8bc34a,
      #ffeb3b,
      #ff9800);
  background-size: 750% auto;
  background-position: 0 100%;
  animation: gradient 20s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -750% 0;
  }
}