<p>
  <!-- <mat-toolbar>
    <span class="header-spacer">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <button>
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
    </span>
    <span>EPL</span>
  </mat-toolbar> -->
  <!-- <mat-toolbar color="primary">
    <span class="fill-remaining-space">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item routerLink="/" >
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-menu-item [routerLink]="['/teams']">
          <mat-icon>people_outline</mat-icon>
          <span>Teams</span>
        </button>
        <button mat-menu-item routerLink="/teams">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </span>
    <span class="fill-remaining-space">Soccer Space</span>
  </mat-toolbar> -->
  <mat-toolbar color="primary">
    <div fxHide.gt-xs>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div>
      <a routerLink="/">Soccer-Space</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
        <li>
          <a  routerLink="/">
            <span class="nav-caption">Dashboard</span>
          </a>
        </li>
        <li>
          <a  routerLink="/teams" >
            <span class="nav-caption">Teams</span>
          </a>
        </li>
      </ul>
    </div>
  </mat-toolbar>

</p>
