<app-breadcrumb></app-breadcrumb>
<div class="card-row" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">
  <ng-container *ngFor="let competition of data">
    <!-- <app-card 
      fxFlex="0 1 calc(33.3% - 32px)" 
      fxFlex.lt-md="0 1 calc(50% - 32px)"
      fxFlex.lt-sm="100%"
      [title]='competition.name'
      [subtitle]='competition?.area.name' 
      [imgSrc]='competition?.area.ensignUrl'
      [imgSrcAvatar]='competition?.area.ensignUrl'>
      <button mat-button>Table</button>
      <button mat-button [routerLink]="['/scores']">Scores</button>
      <button mat-button [routerLink]="['/teams']" [state]="{ id:  competition.id }">Teams</button>
    </app-card> -->
    <mat-card class="team-card" fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
      fxFlex.lt-sm="100%">
      <mat-card-header>
        <img mat-card-avatar [src]="competition?.area.ensignUrl" alt="Photo of {{competition.name}}">
        <mat-card-title>{{competition.name}}</mat-card-title>
        <mat-card-subtitle>{{competition?.area.name}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="competition?.area.ensignUrl"
        alt="Photo of {{competition.name}}">
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button 
          [routerLink]="['/tables']"
          [state]="{ id: competition.code }">
          Table
        </button>
        <button mat-button 
          [routerLink]="['/scores']" 
          [state]="{ id: competition.code, matchday: competition?.currentSeason.currentMatchday }">
          Scores
        </button>
        <button mat-button [routerLink]="['/teams']" [state]="{ id:  competition.id }">Teams</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
