
<div class="content">
  <app-breadcrumb></app-breadcrumb>
  <div fxLayout="row wrap" class="card-row">
    <div class="card-col" fxFlex="100" fxFlex.gt-sm="40">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true"  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
             Scores
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- score card component -->
          <app-score-card *ngFor="let fixture of gameweek?.matches" [fixture]="fixture"></app-score-card>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="card-col" fxFlex="100" fxFlex.gt-sm="60">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Standings
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- table component -->
          <app-tables [hideForm]="true"></app-tables>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
